<h1>Help improve Beer Fridge Porch</h1>
<p>Did your beer come out much warmer or cooler than expected? Did it freeze
when we said it was safe to leave out? We are always looking to improve our
calculations, and your feedback helps us get there.</p>
<p>BONUS: If you are a chemist, chemistry student, or chemistry teacher, we
  would love your help improving our calculation models. Please let us know
  in your comment if you can help us out!</p>
<p>Note: Beer Fridge Porch is an open-source project, and we invite contributions!
  Find us on
  <%= link_to "Github", "https://github.com/chloe-vilain/beerfridgeporch" %>. </p>
